.App {

	background-color: #e8ebef;
 	font-size: calc(8px + 2vmin);
	color: black;
	margin:auto;
	position:relative;
	top:0;
	right:0;bottom:0;left:0;
	}

.DivList {width: 200px; 
	height: 300px; 
	position:flex;
	overflow-y: scroll;
	background-color: white;
	color:blue;
	
}
ul {
  	list-style-type: none;
	align-items: left;
	padding-left: 10px;
	
}
table{border:2px solid gray;
	border-radius: 10px;
	width: 1100px;
	background-color:white;
	align: center;
	text-align:left;
	border-collapse:separate;margin:0px; padding:0px }
	
thead tr th{border-bottom:2px solid gray;margin:0px;padding:0}

.liItem{
background-color:white ; 
color: blue;
border-radius: 5px;}	


.liItem:hover { 
  background-color: blue; 
  color:white;
  border-radius: 5px;	

}


.selItem{ 
  background-color: blue; 
  color:white;
  border-radius: 5px;	

}
.mapouter{position:relative;text-align:right;height:300px;width:500px;}
.gmap_canvas {overflow:hidden;background:none!important;height:300px;width:500px;}

tbody {
    vertical-align: top;  
}